.about-section {
    max-width: none; /* Elimina  restricción de ancho máximo */
    text-align: center;
    background-color: #0a0a23;
    padding: 60px;
    border-radius: 12px;
    margin-top: 100px;
}
.about-section h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 50px;
    letter-spacing: 1px;

}
.about-section .highlight {
    color: #a259f7;
}
.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 70px;
}
.about-photo img {
    width: 300px;
    height: 340px;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid #3840a8;
    background: #111;
    box-shadow: 0 0 18px #2c2c54;
    margin-left: 100px;
}
.about-info {
    max-width: 400px;
    text-align: justify;
    margin-right: 100px;
    margin-top: 30px;
}
.about-info p {
    color: #e0e0e0;
    font-size: 1.1rem;
    margin-bottom: 22px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.about-buttons {
    margin-bottom: 28px;
}
.about-buttons button {
    background: #33364d;
    color: #fff;
    border: none;
    padding: 10px 22px;
    font-size: 1rem;
    border-radius: 6px;
    margin-right: 12px;
    cursor: pointer;
    font-family: inherit;
    transition: background 0.2s;
}
.about-buttons button:hover {
    background: #6c63ff;
}
.about-stats {
    display: flex;
    gap: 38px;
    margin-top: 10px;
}
.stat-title {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}
.stat-link {
    color: #a259f7;
    font-size: 1rem;
    text-decoration: none;
}

/* Estilos adaptados en pantallas pequeñas */
@media (max-width: 700px) {
    .main-content h1 { font-size: 2.2rem; }
    .main-content .subtitle { font-size: 1.4rem; }
    nav { flex-direction: column; align-items: flex-start; }
    .nav-right a { margin-left: 16px; }
    .about-content {
        flex-direction: column;
        align-items: center;
    }
    .about-info {
        text-align: center;
    }
    .about-section {
        width: calc(100% - 40px); 
        margin-left: 20px; 
        margin-right: 20px; 
        padding: 20px;
    }
}