body {
    
    font-family: 'Share Tech Mono', monospace;
    background: hsl(240, 56%, 9%);
    color: #fff;
    /* Fondo en 3D*/
    background-image: linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px), 
                        linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 100px 100px;
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin-top: 60px;
}
.main-content h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 400;
    letter-spacing: 2px;
}
.main-content .typing {

    background-image: linear-gradient(to right, #6a5acd, #8a2be2, #9400d3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}
.main-content .cursor {
    display: inline-block;
    width: 1ch;
    color: #b983ff;
    animation: blink 0.7s steps(1) infinite;
    font-weight: bold;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.main-content .subtitle {
    font-size: 2.8rem;
    margin: 30px 0 0 0;
    font-weight: 400;
    margin-top: 30px;
}

.main-content .linea {
    background-image: linear-gradient(to right, #6a5acd, #8a2be2, #9400d3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}


.main-content button {
    margin-top: 120px;
    background: #33364d;
    color: #fff;
    border: none;
    padding: 18px 44px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: inherit;
    transition: background 0.2s;

}
.main-content button:hover {
    background: #6c63ff;
}

/* Estilos adaptados en pantallas pequeñas */
@media (max-width: 700px) {
    .main-content h1 { font-size: 2.2rem; }
    .main-content .subtitle { font-size: 1.4rem; }
    nav { flex-direction: column; align-items: flex-start; }
    .nav-right a { margin-left: 16px; }
}